:root{
    --a:#A5E58E;
    --a:#EA623C;
    --a:#FDD46A;
    --a:#98D2E6;
    --a:#a18ee5;
    
    --b:#0b1967;
    --b:#426bc2;
    --b:#e8d9ed;
    --b:#f7f4ed;
    --b:#e9f3ff;
    --b:#d2b3db;

}